<%= stylesheet_link_tag "stw" %>
<div style="width:350px;margin: 30px auto">
<h1>Stw Account Details</h1>

<table>
<% stw_show_info.each do |key, value| %>
  <tr>
    <td><%= key %></td><td><%= value %></td>
  </tr>
  <% end %>
 </table>
 
 </div>
