/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

td{
padding:3px;
border: 1px solid black;
text-align: center;
}

h1{
font-size: 25px;
}
